* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 50px;
}

.trybewarts-login {
  display: flex;
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 18px;
}

#trybewarts-header-title {
  position: absolute;
  top: 2%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-content: center;
  padding: 60px;
}

#main {
  display: flex;
}

.trybewarts {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#trybewarts-forms-logo {
  height: 500px;
  padding: 50px 50px 0 0;
}

.content-name {
  display: flex;
  flex-flow: row;
}

.content-email-house {
  display: flex;
  flex-flow: row;
}

#ckeck-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#password {
  margin-left: 10px;
}

#buttonEntrar {
  margin-left: 10px;
}

#footer {
  display: flex;
  justify-content: center;
}

#input-name {
  border-radius: 20px;
}

#input-lastname {
  border-radius: 20px;
  margin-left: 10px;
}

#input-email {
  border-radius: 20px;
}

#label-casa {
  margin-left: 10px;
}

#house {
  margin-left: 10px;
}
